// 颜色定义规范
$color-background = #f6f6f6
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #999
$color-theme = #5462eb
$color-sub-theme = #ff9541
$color-text = #333
$color-blue = #5462EB
$color-text-red = #ff4e4e
$color-text-x=#8c8a93
$color-border=#f0f0f0
$color-text-orange = #fe8851
$color-coupon-orange = #ff834b
$color-coupon-none = #a5a4ab
$color-progress-bar = #f2f2f2
$color-progress-bar-orange = #ff9541
$btn-bg-color = #BABBBB

//字体定义规范
$font-size-small-s = 1rem
$font-size-small = 1.2rem
$font-size-medium = 1.4rem
$font-size-medium-x = 1.6rem
$font-size-large = 1.8rem
$font-size-large-x = 2.2rem
$font-size-large-xl = 3.4rem
